<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<nav> @*This is the nav bar that is shared across all pages, this layout page also renders the body of each html page to adapt to the nav bar/layout info*@
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a>
    <a asp-controller="Home" asp-action="MovieReview"> Movie Review</a>
</nav>
<body>

    <div>
        @RenderBody()
    </div>

</body>
</html>
