@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>Welcome to the Joel Hilton Film Collection</h1>
<img src="~/img/JoelHiltonHeadshot.jpg" style="height:300px" />
<br />
<br />
<div>
    <a asp-controller ="Home" asp-action="MovieList">View Movie Database</a>
</div>