@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission6.Models.ApplicationResponse

<form method="post">
    <label>Movie Title: </label>
    <input asp-for="Title" />
    <label>Movie Category: </label>
    <input asp-for="Category" />
    <label>Year</label>
    <input asp-for="Year" />
    <label>Director Name:</label>
    <input asp-for="Director" />
    <label>Movie Rating</label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <label>Was this movie edited after release?</label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <label>If lent out, to whom?</label>
    <input asp-for="LentTo" />
    <label>Notes on the Movie</label>
    <input type="text" maxlength="25" asp-for="Notes" />

    <button type="submit"> Submit the movie review </button>

</form>